:root{
    --Main1:#1F82BF;
    --Main2:#2175BF;
    --Background:#D2E1E6;
    --AnalogToMain2:#1F82BF;
    --TextColor:black;
    --LoginSection: #797EF6;
    --AnalogToLoginSection: #4ADEDE;

    --MetalGradient: linear-gradient(45deg,  var(--AnalogToLoginSection) 35%, var(--LoginSection) 94%);
    --BaseGradient : linear-gradient(180deg, var(--AnalogToMain2) 9%, var(--Main2) 100%);
}


.text{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.wave{
    height: 100%;
    /*! width: 100%; */
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height:100%;
}
* {
    font-family: 'Montserrat';
}

.main {
    margin: 0px;
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 21;
    top: 0px;
    bottom: 10vh;
    position: fixed;
    transition: transform 1s ease-out;
    width: calc(300vw + 40%);
    background-color: var(--Background);
}
body{
    margin: 0px;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-color: var(--Blue1);
}
section .static {

    display: flex;
    height: 100%;
    width: 100vw;
    position: relative;
    
}
.sectionmargin{
    height: 100vh;
    width: 10%;
    background: var(--Main1);
    position: relative;
    z-index: 99;
}
section {
    width: 100vw;
    position: relative;
    z-index: 1;
    transition: filter 1s ease-in-out;
}
ul {
    display: flex;
    width: 100vw;
    height: 100%;
    background: var(--AnalogToMain2);
    background: var(--MetalGradient);
    margin: 0px;
    align-items: center;
    justify-content: end;
    list-style: none;
}
.options{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
    max-height: 100%;
    align-items: center;
}
.options li {
    padding: 5%;
    width: 50%;
}
.navbar{
    position: relative;
    z-index: 9999999;
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    
}
#section2 static{
    display: flex;
}
#airesourcesdiv{
    width: 60%;
    position: relative;
    top: 20%;
    left: 5%;
}
#airesourcesdiv .text{
 text-align: center;
 width: 140%;
}
#aititle{
    color: var(--Main2);
    text-decoration-line: underline;
}

#aiparagraph{
    color: var(--TextColor);
    line-height: 120%;
}

#globestudy{
    aspect-ratio: 1.37;
    height: 50%;
    position: relative;
    top: 50%;
    z-index: 1;
}

#logintable {
    width: 25vw;
    background: var(--AnalogToLoginSection);
    background: var(--BaseGradient);
    display: flex;
    flex-direction: column;
    height: 15vw;
    justify-self: center;
    align-self: center;
    align-items:center;
    aspect-ratio: 1.7;
    border-radius: 0px 0px 20px 20px;
    justify-content: space-around;
}
#logintable button{
    width: 40%;
    height: 20%;
    margin-top: 5%;
    border-radius: 25px;
    background: var(--AnalogToMain2);
    background: var(--MetalGradient);
    justify-content: space-around;
    border: none;
    font-size: 2.5em;
}
#logintable input{
    width: 80%;
    height: 20%;
    padding: 0px;
    border: 0px;
    border-radius: 0px 0px 5px 5px;
}
#secondbar{
    margin-top: 3%;
}
#logintable .inputs{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logintable .inputs .emptybar
{
    height: 5%;
    width: 80%;
    background: var(--AnalogToMain2);
    background: var(--MetalGradient);
    border-radius: 0px 20px 0px 0px;
}
#account {
    color: var(--TextColor);
    text-decoration-line: underline;
}

#section1{
    margin-left: 0px !important;
    
}
#globeexpo {
    height: 50%;
    position: relative;
    top: 40%;
    left: 10%;
    z-index: 2;
}
#marketing {
    position: relative;
    height: min-content;
    z-index: 3;
    right: 0px;
    top:10%;
    max-width: 40%;
    text-decoration-line: underline;
    color: var(--Main2);
    text-align: center;
}
.wavedir{
    right: -2px;
    margin-right: 0px;
    margin-left: auto;
}
.wavesq{
    left: -2px;
    margin-left: 0px;
    margin-right: auto;
}
.wave {
    z-index: 50;
    position: relative;
}
.loginsection {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
#airesourcesdiv{
    width: 30%
}
#globestudy{
    height: 50%;
}
#register {
    font-size: 3em;
    color: var(--Main2);
    text-decoration-line: underline;
}
.loginsection .emptybar{
    width: 100%;
    height: 1vw;
    background: var(--AnalogToMain2);
    background: var(--MetalGradient);
    border-radius: 5px 5px 0px 0px;
}

section {
    z-index: 30;
}

.arrow {
    width: 200vw;
    position:fixed;
    bottom: 20%;
    z-index: 20;
    display: flex;
    transition: transform 2s ease-in-out;
  }
  
  .line {
    position: relative;
    margin-top: 14px;
    width: 100%;
    background: var(--AnalogToMain2);
    background: linear-gradient(180deg, var(--AnalogToMain2) 9%, var(--Main2) 100%);
    height: 10px;
    float: left;
    z-index: 20;
  }
  
  .point {
    position: relative;
    z-index: 1;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid var(--AnalogToMain2);
    float: right;
  }

@media screen and (min-width: 1440px ) and (max-width: 2560px)
{
    .loginsection {
        width: 40%;
      
    }
    #logintable{
        width: 100%;
        
    }
    #marketing {
        font-size: 5em;
        left: 10%;
        max-width: 30%;
    }
}
@media screen and (min-width: 1024px) and (max-width:1440px)
{
    .loginsection {
        width: 50%
    }
    .wave{
        
    }
    #logintable{
        width: 100%;
        height: 50%
    }
    
    #marketing {
        font-size: 2em;
        position: relative;
    }
    #airesourcesdiv{
        left: 20%;
        
    }
    #globestudy{
        position: relative;
        height: 35%;
        right:12%;
    }
    #section3 .static{
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: center;
    }
}

@media screen and (min-width: 2560px)
{
    #marketing {
        font-size: 5em;
    }
}
@media screen and (min-width: 1828px) and (max-width : 2560px)
{
    .sectionmargin {
        width: 50%;
    }
    #marketing {
            font-size: 4em;
    }  
    .loginsection{
        width: 50%
    }
    #logintable {
        width: 100%
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    #marketing {
        
        right: 5%;
        top: 20%;
        width: 40%;
        font-size: 2em;
        
    }
    #globeexpo{
        height: 40%;
        top: 55%;
    }

    #logintable{
        width: 100%;
        height: 50%
    }
}